@use '../../colours.scss';

#result-card {
  background-color: colours.$card-background;
  color: colours.$card-text;
  padding: 5px;
}

#poster {
  width: 130px;
  height: 100%;
  border-radius: 5px;
}

#tags-container {
  margin-top: 10px;
  margin-bottom: 15px;
}

.tags {
  font-size: 10px;
  background-color: colours.$tag-fill;
  color: colours.$tag-text;
  border: 1px solid colours.$tag-border;
  border-radius: 8px;
  padding: 4px;
}

.movie-action-buttons {
  padding-right: 10px;

  .MuiSvgIcon-root {
    color: colours.$movie-icon;
    font-size: 30px;
  }

  .MuiIconButton-root.Mui-disabled {
    .MuiSvgIcon-root {
      color: colours.$movie-icon-disabled;
    }
  }

  Button {
    color: white;
  }

  Button:hover {
    background-color: colours.$button-hover;
  }

  .fullsize-button {
    font-size: 12px;
    border-radius: 15px;
    background-color: colours.$button;

    .MuiSvgIcon-root {
      color: rgb(230, 230, 230);
      font-size: 16px;
      margin-left: 6px;
    }
  }
}

.MuiGrid-grid-xs-true {
  flex-grow: 1;
  max-width: 100%;
  flex-basis: 0;
  text-align: left;
}

.MuiCardContent-root {
  width: 95%;
}

.close-toast {
  .MuiSvgIcon-root {
    color: white;
  }
}
