#poster {
  width: 130px;
  height: 100%;
  border-radius: 5px;
}

.MuiGrid-grid-xs-true {
  flex-grow: 1;
  max-width: 100%;
  flex-basis: 0;
  text-align: left;
}

.MuiCardContent-root {
  width: 95%;
}

.tags {
  font-size: 10px;
  background-color: #2d4153;
  color: #778ea3;
  border: 1px solid #394550;
  border-radius: 8px;
  padding: 4px;
}

#tags-container {
  margin-top: 10px;
  margin-bottom: 15px;
}

#result-card {
  background-color: #1d2b38;
  color: rgb(233, 233, 233);
  padding: 5px;
}

.movie-action-buttons {
  padding-right: 10px;

  .MuiSvgIcon-root {
    color: #556a81;
    font-size: 30px;
  }

  .MuiIconButton-root.Mui-disabled {
    .MuiSvgIcon-root {
      color: #101c22;
    }
  }

  Button {
    color: white;
  }
  
  #fullsize-button {
    font-size: 12px;
    border-radius: 15px;
    background-color: #394550;
    
  }
  Button:hover {
    background-color: #333f47;
  }
}

.close-toast {
  .MuiSvgIcon-root {
    color: white;
  }
}