.nomination-tags {
    font-size: 10px;
    background-color: #2d4153;
    color: #778ea3;
    border: 1px solid #394550;
    border-radius: 8px;
    padding: 4px;
  }
  
  #nomination-tags-container {
    margin-top: 5px;
  }
  
  #nomination-list-card {
    background-color: #1d2b38;
    color: rgb(233, 233, 233);
    text-align: left;
    padding: 10px;
  }
  
  .nomination-card-buttons {
    .MuiSvgIcon-root {
      color: #606d7a;
      font-size: 27px;
    }
  }