@use '../../colours.scss';

#nomination-list-card {
  background-color: colours.$card-background;
  color: colours.$card-text;
  text-align: left;
  padding: 10px;
}

#nomination-tags-container {
  margin-top: 5px;
}

.nomination-tags {
  font-size: 10px;
  background-color: colours.$tag-fill;
  color: colours.$tag-text;
  border: 1px solid colours.$tag-border;
  border-radius: 8px;
  padding: 4px;
}

.nomination-card-buttons {
  .MuiSvgIcon-root {
    color: colours.$movie-icon;
    font-size: 27px;
  }
}