@use '../../colours.scss';

#nomination-card {
  padding: 10px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: colours.$card-background;
  color: aliceblue;
}

#nomination-poster {
  width: 100%;
  max-width: 200px;
  height: 230px;
}

.nomination-movie-title {
  text-align: center;
  font-size: 15px;
}