#search-bar-container {
  padding: 1px 15px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #1d2b38;
  border-color: #43515e;
}

#search {
  color: white;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  box-shadow: 0 0 0px 1000px #1d2b38 inset;
  border: none;
}
