.navbar {
  color: rgb(245, 248, 252);
  font-family: Oranienbaum;
  font-size: 40px;
  padding: 5px;
  text-align: left;

  a {
    text-decoration: none;
    color: rgb(245, 248, 252);
    font-style: normal;
  }
}

.navTabs {
    float: right;
}





