@use '../../colours.scss';

.navbar {
  color: colours.$navbar-text;
  font-family: Oranienbaum;
  font-size: 40px;
  padding: 5px;
  text-align: left;

  a {
    text-decoration: none;
    color: colours.$navbar-text;
    font-style: normal;
  }
}

.navTabs {
    float: right;
}