.curtain {
  width: 100%;
  height: 90vh;
  overflow: hidden;
}

.curtain-wrapper {
  width: 100%;
  height: 90%;
}

.curtain-panel {
  background-image: url("../../assets/curtain.jpg");
  background-size: 100% 100%;
  width: 50%;
  height: 90vh;
  float: left;
  position: relative;
  z-index: 2;
}

@keyframes pull-left-curtain {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-80%);
    //opacity: 0.2;
  }
}

@keyframes pull-right-curtain {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(80%);
    //opacity: 0.2;
  }
}

.curtain-panel-left {
  animation: 1.3s ease-out 0s 1 pull-left-curtain forwards;
}

.curtain-panel-right {
  animation: 1.3s ease-out 0s 1 pull-right-curtain forwards;
}

.curtain-content {
  background-color: #151e2a;
  color: rgb(255, 255, 255);
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  margin-top: -5%;
  font-size: 30px;
  text-align: center;
  font-weight: 100;
  font-family: Oranienbaum;
  text-shadow: 2px 2px 5px rgb(145, 218, 223), 0 0 25px rgb(110, 180, 189),
    0 0 5px rgb(215, 224, 224);

  h2 {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0;
  }

  h1 {
    margin: 0;
  }
}

.nominate-button {
  margin-top: 5%;

  Button {
    font-family: Oranienbaum;
    font-size: 20px;
    width: 300px;
  }
  Button:hover {
    background-color: #333f47;
  }
}
