$alert-text: #faf9f9;
$alert-background: #395047;
$alert-border: green;

$background: #151e2a;
$button: #43535e;
$button-hover: #333f47;

$card-background: #1d2b38;
$card-text: #e9e9e9;

$container-background: #2a3947;

$movie-icon: #606d7a;
$movie-icon-disabled: #101c22;

$navbar-text: #f5f8fc;

$scrollbar: #73828bad;
$scrollbar-hover: #73828bc4;

$tag-fill: #2d4153;
$tag-text: #778ea3;
$tag-border: #394550;